@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla&display=swap');

* {
    margin : 0;
    padding: 0;
}

*,
*::before,
::after {
    box-sizing: inherit;
}

/*-----GENERALES------*/
html {
    box-sizing: border-box;
    font-size : 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

body {
    margin     : 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin   : 0;
    font-size: 1.6rem;
}

.centrar {
    text-align: center;
    margin-top: 2rem;
}

/*-----STICKY------*/

.info {
    height    : 3.8rem;
    background: #1CD1B0;
    position  : sticky;
    top       : 0;
    z-index   : 1;
}

.info p {
    padding: 1rem;
    color  : #FFFF;
}

/*-----HEADER------*/

.header h1 {
    margin   : 0;
    padding  : 2.8rem;
    color    : #FFFFFF;
    font-size: 4rem;
}

.header {
    background   : #00669F;
    box-shadow   : 0px 10px 7px rgb(0 0 0 / 25%);
    height       : 20vh;
    margin-bottom: 15.4rem;
    display      : flex;
}

.header a {
    font-size   : 2rem;
    margin-right: 3rem;
    color       : white;
    display     : flex;
}

/*---MAIN----*/
.container {
    width : 90%;
    margin: 0 auto;
}

.main {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    width          : 40%;
}

.main h2 {
    font-weight  : bold;
    font-size    : 7rem;
    margin-bottom: 4rem;
    font-family  : 'Inter';
}

.form {
    display       : flex;
    flex-direction: column;
}

.form input,
select {
    padding      : 1rem;
    margin-bottom: 2rem;
    font-family  : 'Karla';
    border       : 2px solid;
}

.centrar p {
    margin-top : 2rem;
    font-family: 'Karla';
}

/*-----------BOTONES-----------*/

.bnt-reset {
    margin-right: 2rem;
    background  : #888888;
    color       : #FFF;
}

.btn-submit {
    background: #1CD1B0;
    color     : #000;
}

.btn {
    cursor       : pointer;
    border       : none;
    font-size    : 2.4rem;
    padding      : 0.5rem 7rem;
    border-radius: 2.3rem;
    font-family  : 'Karla';
    font-weight  : bold;
}

/*----CARDS------+*/

.card-img {
    background-image: url(../img/1.jpg);
    background-size : cover;
    height          : 19.3rem;
    border-radius   : 20px 20px 0 0;
}

.card-img1 {
    background-image: url(../img/fondo_harley.jpg);
    background-size : cover;
    height          : 19.3rem;
    border-radius   : 20px 20px 0 0;
}

.card-img2 {
    background-image: url(../img/fondo_superman.jpg);
    background-size : cover;
    height          : 19.3rem;
    border-radius   : 20px 20px 0 0;
}

.card-img img,
.card-img1 img,
.card-img2 img {
    position: absolute;
    left    : 2rem;
    top     : 1rem;
}

.card {
    width           : 30%;
    display         : inline-block;
    margin          : 1.8rem;
    text-align      : center;
    position        : relative;
    background-color: #F3F3F3;
    border-radius   : 20px 10px 0 0;
    box-shadow      : rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.add {
    position: fixed;
    z-index : 5;
    left    : 1250px;
    top     : 100px;

}

.add img {
    width: 70%;
}

.card-text {
    position: relative;
    top     : -6rem;
    width   : 75%;
    margin  : 0 auto;
}

.card-text h2 {
    font-size: 3rem;
    margin   : 1.5rem;
}

.card-text img {
    border-radius: 50%;
    width        : 50%;
}

.card-text p {
    text-align: initial;
}

.card-button {
    margin-bottom: 3rem;
}

.card-button a {
    background   : #00669F;
    padding      : 1.5rem 3.5rem;
    /* position  : relative;
    bottom       : 3rem; */
    color        : #FFFFFF;
    font-size    : 1.3rem;
}

.card-button a:hover {
    background-color: #001D2D;
}

/*----FOOTER------+*/

.footer {
    background-color: #00669F;
    color           : #FFFFFF;
    height          : 5.1rem;
    margin-top      : 15.1rem;
    display         : flex;
    justify-content : space-between;
}

.footer p {
    padding: 2rem 0 0 2rem;
}

.footer a {
    padding       : 10px 50px 0 0;
    font-size     : 30px;
    font-weight   : bold;
    color         : #FFFFFF;
    /* animation  : move linear 4000ms infinite; */
}

/* ANIMATION */
@keyframes move {
    0% {
        text-shadow:
            4px -4px 0 #001D2D,
            3px -3px 0 #001D2D,
            2px -2px 0 #001D2D,
            1px -1px 0 #001D2D,
            -4px 4px 0 #13f1fc,
            -3px 3px 0 #13f1fc,
            -2px 2px 0 #13f1fc,
            -1px 1px 0 #13f1fc;
    }

    25% {
        text-shadow:
            -4px -4px 0 #13f1fc,
            -3px -3px 0 #13f1fc,
            -2px -2px 0 #13f1fc,
            -1px -1px 0 #13f1fc,
            4px 4px 0 #001D2D,
            3px 3px 0 #001D2D,
            2px 2px 0 #001D2D,
            1px 1px 0 #001D2D;
    }

    50% {
        text-shadow:
            -4px 4px 0 #001D2D,
            -3px 3px 0 #001D2D,
            -2px 2px 0 #001D2D,
            -1px 1px 0 #001D2D,
            4px -4px 0 #13f1fc,
            3px -3px 0 #13f1fc,
            2px -2px 0 #13f1fc,
            1px -1px 0 #13f1fc;
    }

    75% {
        text-shadow:
            4px 4px 0 #13f1fc,
            3px 3px 0 #13f1fc,
            2px 2px 0 #13f1fc,
            1px 1px 0 #13f1fc,
            -4px -4px 0 #001D2D,
            -3px -3px 0 #001D2D,
            -2px -2px 0 #001D2D,
            -1px -1px 0 #001D2D;
    }

    100% {
        text-shadow:
            4px -4px 0 #001D2D,
            3px -3px 0 #001D2D,
            2px -2px 0 #001D2D,
            1px -1px 0 #001D2D,
            -4px 4px 0 #13f1fc,
            -3px 3px 0 #13f1fc,
            -2px 2px 0 #13f1fc,
            -1px 1px 0 #13f1fc;
    }
}

/*----------------SUPER------------*/

/*cambiamos nuestro boton de subir archivos*/
input[type=file] {
    display: none;
}

.file-hero {
    padding   : 5px 10px;
    background: #f55d3e;
    color     : #fff;
}

.file-hero:hover {
    color     : #fff;
    background: #f7cb15;
}

/*---------------------------------------*/

/*------------Formulario---------------*/
.container-form {
    width           : 60%;
    background-color: #00669F;
    margin          : 0 auto;
}