/* h1 {
    line-height: 20px;
} */


/* FOOTER */

.footer {
    background-color: #005677;
}

body {
    background-image: url('https://images3.alphacoders.com/621/621682.jpg');
    background-size: cover;
}